doctype html
html
  head
    title Home

    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='js/jquery-1.11.0.min.js')
    script(src='js/main.js')
    script(src='js/bootstrap.min.js')
    // Custom Theme files
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')

    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')